---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class=" bg-cyan-300">
	<h1 class="text-4xl text-center text-white">
		Mantaro
	</h1>
</div>

<style>
	
</style>
